.App {
  text-align: center;
}
.card-state .ant-card-cover .images {
  height: 270px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 8px rgb(0 0 0 / 4%);
}

.card-state .ant-card-cover .images:before {
  background-image: linear-gradient(
180deg
,rgba(0,0,0,.2) 51.04%,rgba(0,0,0,.8));
  opacity: 1;
  transition: opacity .3s linear;
}
.card-state .ant-card-cover .images:after, .card-state .ant-card-cover .images:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ant-card-meta-title {
  white-space: normal;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 1.3 !important;
  margin-bottom: 10px !important;
  
}
 .ant-form-item {

  margin-right: 161px !important;
  margin-bottom: 25px !important;
}

.btn-heart {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  font-size: 18px !important;
  height: 40px !important;
}
.ant-form-inline .ant-form-item > .ant-form-item-label {
  width: 112px !important;
}
.ant-card-body {
  padding: 0px !important;
}
.ant-timeline-item {
font-size: 11px !important;
}
/* .ant-alert-content {
   flex: 0;
} */
/* .ant-alert-content {
  flex: 0 !important;
}

.ant-alert-message{
  width: 420px !important;
} */
.site-layout-content {
  min-height: 500px;
  padding: 24px;
  background: #fff;
}

.card-state .ant-card-cover .images .ant-row-flex {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 10;
}
.card-state .top-panel .link-view-all {
  position: absolute !important ;
  top: -5px !important;
  right: -5px !important;
}
.card-state .ant-card-cover .images h2.ant-typography {
  color: #fff;
  font-size: 34px;
  margin: 0;
}
.card-state {
  width: 100%;
  border-radius: 12px !important;
  overflow: hidden;
  background-color: #fbfcfe;
  margin: 0 0 30px;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.MuiTimelineItem-root {
  min-height: 50px !important;
}
.MuiListItemIcon-root {
  min-width: 0px !important;
  margin-right: 10px;
}
.MuiListItem-gutters {
  padding-left: 0px !important;
  padding-top: -60px !important;

}
.card-header{
  color: black;
  text-decoration: auto;
}
.ant-statistic{
font-size: 34px;
    font-weight: 600;
    margin-top: 20px;
    width: 150px;
    margin-left: 20px;
}
.MuiTimelineContent-root {
  text-align: left;
  font-size: 10px;
}
.auction-anchor{
  
  margin-left: 60px;
  margin-top: -38px;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 1em solid;
    color: #01172d;
}
.bid-amount {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 400;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
