.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.MuiTimelineItem-root {
  min-height: 50px !important;
}
.MuiListItemIcon-root {
  min-width: 0px !important;
  margin-right: 10px;
}
.MuiListItem-gutters {
  padding-left: 0px !important;
  padding-top: -60px !important;

}
.card-header{
  color: black;
  text-decoration: auto;
}
.ant-statistic{
font-size: 34px;
    font-weight: 600;
    margin-top: 20px;
    width: 150px;
    margin-left: 20px;
}
.MuiTimelineContent-root {
  text-align: left;
  font-size: 10px;
}
.auction-anchor{
  
  margin-left: 60px;
  margin-top: -36px;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 1em solid;
    color: #395836;
}
.bid-amount {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 400;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
